<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>719624886331-h3d1oh43fjur9ad7m8t47gp6i67dhtk8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.719624886331-h3d1oh43fjur9ad7m8t47gp6i67dhtk8</string>
	<key>API_KEY</key>
	<string>AIzaSyDp9yx2BWKTiqqoMMrKUymxYo5IAzxduH4</string>
	<key>GCM_SENDER_ID</key>
	<string>719624886331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>RMD.Flash-Cards</string>
	<key>PROJECT_ID</key>
	<string>flash-cards-61709</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-cards-61709.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:719624886331:ios:604e038ba06ea9d8</string>
	<key>DATABASE_URL</key>
	<string>https://flash-cards-61709.firebaseio.com</string>
</dict>
</plist>